@media screen and ( max-width:576px ) {
    .head{
      flex-direction: column;
        
    }
    .a-con{
        flex-direction: column;
    }
   .banner-con{
    flex-direction: column-reverse;
   }
   .c{
    flex-direction: column;
   }
   .img-1{
    margin-right: 300px;
   }
   
   .icon{
    margin-left: 220px;
    flex-direction: column;
   }
   .c-3{
    flex-direction: column;
   }
}